@import "tailwindcss";

:root {
  --main-color: #d80a15;
  --foreground: #000000;
}


.darkest-static-gradient {
  
  background: linear-gradient(
    to bottom right,
    #000000,
    #050505, 
    #101010 
  );
  
  margin: 0;
  padding: 0;
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
    to bottom right,
    #000000, 
    #050505, 
    #101010  
  );;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.icon-base {
  color: #888888;
  transition: color 0.3s ease-in-out;
}
.css-icon:hover {
  color: #297bff !important; 
}
.react-icon:hover {
  color: #81e0ff !important;
}
.ts-icon:hover {
  color: #097ece !important;
}
.js-icon:hover {
  color: #f7e025 !important;
}
.next-icon:hover {
  color: #ffffff !important;
}
.vercel-icon:hover {
  color: white !important;
}
.html-icon:hover {
  color: #f0672b !important;
}
.git-icon:hover {
  color: #f1553a !important;
}
.github-icon:hover {
  color: #ffffff !important;
}
.tw-icon:hover {
  color: #1dc0cd !important;
}
.vite-icon:hover {
  color: #8484fe !important;
}

