@import "tailwindcss";

:root {
  --main-color: #d80a15;
  --foreground: #000000;
}


.darkest-static-gradient {
  
  /* background: linear-gradient(
    to bottom right,
    #000000,
    #050505, 
    #101010 
  ); */

  /* background: linear-gradient(to right, #111111, #555555); option 2 */

   background: radial-gradient(circle, #111111, #000000); /* option 1 */

  /* background-color: #111111; */
  
  margin: 0;
  padding: 0;
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
    to bottom right,
    #000000, 
    #050505, 
    #101010  
  );;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.icon-base {
  color: #888888;
  transition: color 0.3s ease-in-out;
}
.css-icon:hover {
  color: #297bff !important; 
}
.react-icon:hover {
  color: #81e0ff !important;
}
.ts-icon:hover {
  color: #097ece !important;
}
.js-icon:hover {
  color: #f7e025 !important;
}
.next-icon:hover {
  color: #ffffff !important;
}
.vercel-icon:hover {
  color: white !important;
}
.html-icon:hover {
  color: #f0672b !important;
}
.git-icon:hover {
  color: #f1553a !important;
}
.github-icon:hover {
  color: #ffffff !important;
}
.tw-icon:hover {
  color: #1dc0cd !important;
}
.vite-icon:hover {
  color: #8484fe !important;
}



.my-container {
  position: relative; 
  width: auto;
  min-height: auto; 
  background-color: #222;
  color: #ccc;
  overflow: hidden; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  transition: all 0.3s ease;
}



.container-spotlight-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  transition: opacity 0.3s ease-in-out;

  cursor: none;

  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.2) 0%, 
    transparent 100px 
  );
}

