.mainColor {
    color: #d80a15; 
}
.secondColor {
    color: #00FFFF;
    /* color: #FF007F; */
}
.mainContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    animation: sectionA .5s ease-in forwards;
}
.mainContainer > h1 {
    /* animation: slideIn 1.5s forwards; */
    transform: translateX(0);
    opacity: 1;
}
.sectionContainer {
    width: 100vw;
    height: auto;
    position: relative;
    overflow: hidden;
     animation: sectionAnimation .5s ease-in forwards; 
}
.sectionAbout {
    width: 100vw;
    height: 100%;
    /* position: relative; */
    /* overflow: hidden; */
    animation: sectionAnimation .5s ease-in forwards;

}
.in-animation {
    animation: slideIn 1.5s forwards;
}
.out-animation {
    animation: slideOff 1s ease-out ;
}


@keyframes slideIn  {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideOff  {
    from {
        opacity: 1;
        transform: translate(0);
    }
    to {
        opacity: 0;
        transform: translate(100%, 0);
    } 
}

@keyframes sectionAnimation {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(-2px);
    }
}
@keyframes sectionA {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}